<!-- <div class="container">
  
  <hr>
<app-form (formdata)="receive($event)" ></app-form><br>
<app-table [insert]="data" ></app-table>

</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class=" mr-auto w-100 h1" href="#">Expense Logger</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="btn btn-warning mr-3" [routerLink]="'/form'">Form</a>
      <a  class="btn btn-info" [routerLink]="'/table'">Table</a>
    </div>
  </div>
</nav>


<div class="router-outlet pt-5">
<router-outlet></router-outlet>
</div>
